# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
.next/
out/
dist/
build/
.expo/
web-build/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example
*.pem
secrets/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.log
npm-debug.log*

# Expo
expo-env.d.ts

# Cloudflare
.wrangler/
.dev.vars
